@font-face {
  font-family: spartan;
  src: url(fontes/league-spartan-regular.ttf);
}
@font-face {
  font-family: Lastica;
  src: url(fontes/FontsFree-Net-Lastica.ttf);
}
@font-face {
  font-family: glacial;
  src: url(fontes/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: computer;
  src: url(fontes/Computer\ says\ no.ttf);
}
@font-face {
  font-family: tsblock;
  src: url(fontes/TS\ Block\ Bold.ttf);
}
@font-face {
  font-family: bariska;
  src: url(fontes/brasika-display.otf);
}
@font-face {
  font-family: barbra;
  src: url(fontes/Barbra-High.otf);
}

* {
  padding: 0;
  margin: 0;
  background-color: #E9E9E9;
}

/*header*/
/*nav*/
.menudrop{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menudrop ul{
  display: flex;
}

.menudrop ul li{
  width: 150px;
  height: 35px;
  line-height: 35px;
  list-style: none;
  border: 2px solid black;
  position: relative;
  margin-right: 1px;
}

.menudrop li a{ 
  font-family: computer;
  font-size: 23px;
  text-align: center;
  text-decoration: none;
  color:rgb(0, 0, 0);
  display:block;
}

.menudrop li a:hover{
background:rgb(0, 0, 0);
color:#fff;
}

.menudrop ul ul {
  display: none;
  position: absolute;
  margin-top: 3px;
}

.menudrop ul li:hover ul {
  display: block;
}

.menu ul ul li a {
  display: block;
}
/*nav*/

/*header*/
/*body*/
/*TÍTULO*/

.caixa{ /*organizando as divs pra nao me perder*/
  display: inline-block;
}

.caixa-dois{ /*imagem dos punks e contra*/
  float: right;

}

.contra{ /*DIV-UM : contra*/
  font-family: lastica;
  margin-left: 30%;
  letter-spacing: 8px;
  margin-top: 7%;
  font-size: 11vh;
}

.introducao{
  margin-top: 15%;
  margin-left: 36%;
  text-align: justify;
  width: 400px;
  font-family: glacial;
}

.hr-intro{ /*linha depois do texto*/
  border-top: 5px solid rgb(0, 0, 0);
  float: left;
  width: 39%;
  position: absolute;
  margin-left: 9%;
  margin-top: 18vh;
}

.cultura{ /*DIV-DOIS : cultura*/
  margin-top: 6%;
  margin-left: 5%;
  font-family: lastica;
  letter-spacing: 8px;
  font-size: 11vh;
}

.caixa-dois img{ /*DIV-DOIS : imagem-punk*/
  margin-top: 2%;
  margin-right: 26vh;
  width: 550px;
  -webkit-box-shadow: 20px 20px rgb(0, 0, 0);
		-moz-box-shadow:    20px 20px rgb(0, 0, 0);
		box-shadow:         20px 20px rgb(0, 0, 0);
	}

/*TÍTULO*/

/*CONTEXTO HISTORICO*/
/*---GUERRA FRIA---*/

.preto{ /*fundo preto*/
  margin-top: 15%;
  background-color: black;
  position: relative;
  height:100vh;
}

/*lado esquerdo*/
.conteudo{
  float: left;
  width: 130vh;
  font-family: glacial;
  margin-left: 5%;
  margin-top: 13vh;
}

.conteudo2{
  float: left;
  width: 130vh;
  font-family: glacial;
  margin-left: 5%;
  margin-top: 13%;
}

.conteudo p{
  background-color: black;
  color:#E9E9E9;
  text-align: justify;
  line-height: 22px;
}

.conteudo2 p{
  line-height: 22px;
  background-color: black;
  color:#E9E9E9;
  text-align: justify;
}

.divdofoguete{
  background-color: rgb(0, 0, 0);
  margin-top: 22%;
  position: absolute;
}

.foguete{
  background-color: rgb(0, 0, 0);
  width: 140vh;
}
/*lado esquerdo*/

/*lado direito*/
.luaetitulo{
  position: absolute;
  width: 55vh;
  margin-left: 68.5%;
  margin-top: 6.5%;
  background-color: black;
}

.lua{
  margin-left: 70px;
  width: 220px;
  background-color: black;
}

.titulo{
  font-size: 45px;
  font-family: tsblock;
  writing-mode: vertical-rl;
  float: right;
  background-color: black;
  color: #E9E9E9;
}
/*lado direito*/
/*---GUERRA FRIA---*/

/*---HIPPIES---*/
.hippies{
  height: 125vh;
  margin-top: 25px;
}

.hippies h2{ /*titulo*/
  margin-left: 10%;
  float: left;
  font-family: bariska;
  font-size: 55px;
}

.hippies p{ /*texto 1*/
  margin-left: 5%;
  position: absolute;
  width: 98vh;
  font-family: glacial;
  margin-top: 8.5%;
  text-align: justify;
  line-height: 22px;
}

/*primeira imagem*/
.hippies img{ /*imagem do hippie 1*/
  margin-top: 30px;
  margin-right: 33px;
  width: 70vh;
  float: right;
}

.imagemhippie{ /*parte preta do hippie 1, ela ta dentro da laranja*/
  float: right;
  background-color: #000000;
  width: 80vh;
  height: 370px;
}

.laranja{ /*parte laranja */
  float: right;
  width: 83vh;
  height: 370px;
  background-color: #AC6B2C;
}

.laranjaclaro{
  margin-top: 30px;
  float: right;
  width: 86vh;
  height: 370px;
  background-color: #DEBA85;
}
/*primeira imagem*/

.arthippie1{ /*A PARTE DE CIMA TA AQUI DENTRO (GAMBIARRA)*/
  width: 100%;
  height: 30%;
}

.laranjaclaro2 {
  margin-top: 5vh;
  float: left;
  width: 86vh;
  height: 370px;
  background-color: #DEBA85;
}

.laranja2{ /*parte laranja ta dentro da laranja claro2*/
  float: left;
  width: 83vh;
  height: 370px;
  background-color: #AC6B2C;
}

.imagemhippie2{ /*parte preta do hippie 2, ela ta dentro da laranja*/
  float: left;
  background-color: #000000;
  width: 80vh;
  height: 370px;
}

.sentadosimg img{
  margin-top: 25px;
  margin-left: 30px;
  width: 70vh;
}

.texto-dois{
  margin-left: 42%;
  margin-top: 20vh;
}
/*segunda imagem*/
/*---HIPPIES---*/

/*---WOODSTOCK---*/
/*INTRO*/
.woodstock-preto{
  background-color: #000000;
  width: 100%;
  height: 77vh;
}

.woodstock-preto article img{
  margin-top: 1.7%;
  margin-left: 5%;
  width: 20vh;
  position: absolute;
}

.woodstock-preto h2{
  position: absolute;
  margin-top: 1px;
  margin-left: 18%;
  width: 40px;
  font-size: 15vh;
  background-color: #000000;
  font-family: barbra;
  color: #E9E9E9;
}

.povo{
  position: absolute;
  margin-top: 10%;
  margin-left: 17%;
  width: 80vh;
  position: absolute;
}

.moça{
  margin-left: 45%;
  position: relative;
  width: 50vh;
  background-color: #00000000;
}

.frase{
  margin-top: 15%;
  margin-right: 5%;
  float: right;
  width: 300px;
}

.frase p{
  font-size: 30px;
  font-family: spartan;
  background-color: black;
  color: #E9E9E9;
  text-align: center;
}
/*INTRO*/
/*conteudo*/
.woodstock-cinza{/*fundo branco*/
  position: absolute;
  width: 100%;
  height: 150vh;
  color: #E9E9E9;
}

.abraco{ /*A PARTE DE CIMA TA AQUI DENTRO (GAMBIARRA)*/
  width: 100%;
  height: 30%;
}

.palavras { /*texto 1*/
  color: #000000;
  margin-left: 5%;
  position: absolute;
  width: 98vh;
  font-family: glacial;
  margin-top: 8.5%;
  text-align: justify;
  line-height: 22px;
}

/*primeira imagem*/
.abraco img{ /*imagem do hippie 1*/
  margin-top: 30px;
  margin-right: 33px;
  width: 70vh;
  float: right;
}

.abracoimg{ /*parte preta do hippie 1, ela ta dentro da laranja*/
  float: right;
  background-color: #000000;
  width: 80vh;
  height: 370px;
}

.laranjaA{ /*parte laranja */
  float: right;
  width: 83vh;
  height: 370px;
  background-color: #AC6B2C;
}

.laranjaclaroA{
  margin-top: 30px;
  float: right;
  width: 86vh;
  height: 370px;
  background-color: #DEBA85;
}

.sentados{ /*A PARTE DE BAIXO TA AQUI DENTRO (GAMBIARRA)*/
  width: 100%;
  height: 30%;
}

/*segunda imagem*/
.laranjaclaroB {
  margin-top: 5vh;
  float: left;
  width: 86vh;
  height: 370px;
  background-color: #DEBA85;
}

.laranjaB{ /*parte laranja ta dentro da laranja claro2*/
  float: left;
  width: 83vh;
  height: 370px;
  background-color: #AC6B2C;
}

.sentadosimg{ /*parte preta do hippie 2, ela ta dentro da laranja*/
  float: left;
  background-color: #000000;
  width: 80vh;
  height: 370px;
}

.sentadosimg img{
  margin-top: 25px;
  margin-left: 30px;
  width: 70vh;
}

.texto-dois{
  margin-left: 42%;
  margin-top: 20vh;
}

/*conteudo*/
/*---WOODSTOCK---*/

/*CONTEXTO HISTORICO*/
/*body*/