@font-face {
  font-family: spartan;
  src: url(fontes/league-spartan-regular.ttf);
}
@font-face {
  font-family: Lastica;
  src: url(fontes/FontsFree-Net-Lastica.ttf);
}
@font-face {
  font-family: glacial;
  src: url(fontes/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: computer;
  src: url(fontes/Computer\ says\ no.ttf);
}
@font-face {
  font-family: tsblock;
  src: url(fontes/TS\ Block\ Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
  background-color: #E9E9E9;
}

/*header*/
/*nav*/

a{
  font-size: 25px;
  font-family: computer;
  text-decoration: none;
  color: black;
}

a:hover{
  opacity: 0.7;
}

td{
  padding: 7px;
  border: 2px solid;
  text-align: center;
}

.navbar{
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
/*nav*/
/*header*/
/*body*/
/*TÍTULO*/

.caixa{ /*organizando as divs pra nao me perder*/
  display: inline-block;
}

.caixa-dois{ /*imagem dos punks e contra*/
  float: right;

}

.contra{ /*DIV-UM : contra*/
  font-family: lastica;
  margin-left: 35%;
  letter-spacing: 8px;
  margin-top: 7%;
  font-size: 11vh;
}

.introducao{
  margin-top: 15%;
  margin-left: 42%;
  text-align: justify;
  width: 400px;
  font-family: glacial;
}

.hr-intro{ /*linha depois do texto*/
  border-top: 5px solid rgb(0, 0, 0);
  float: left;
  width: 39%;
  position: absolute;
  margin-left: 9%;
  margin-top: 18vh;
}

.cultura{ /*DIV-DOIS : cultura*/
  margin-top: 6%;
  margin-left: 5%;
  font-family: lastica;
  letter-spacing: 8px;
  font-size: 11vh;
}

.caixa-dois img{ /*DIV-DOIS : imagem-punk*/
  margin-top: 2%;
  margin-right: 26vh;
  width: 550px;
  -webkit-box-shadow: 20px 20px rgb(0, 0, 0);
		-moz-box-shadow:    20px 20px rgb(0, 0, 0);
		box-shadow:         20px 20px rgb(0, 0, 0);
	}

/*TÍTULO*/

/*CONTEXTO HISTORICO*/
/*---GUERRA FRIA---*/
.guerrafria{ /*section preta*/
  margin-top: 14%;
  position: relative;
  height: 95vh;
  width: 100%;
  background-color: black;
}

.artfrio { /*div do que ta escrito*/
  margin-top: 6%;
  margin-left: 9%;
  width: 59%;
  float: left;
  background-color: #000000;
  font-family: glacial;
  color: #E9E9E9;
}

.lua{
  float: left;
  width: 230px;
  background-color: #000000;
  margin-left: 2%;
  margin-top: 2.5%;
}


.subguerra{
  margin-right: 9%;
  margin-top: 6%;
  font-size: 40px;
  float: right;
  writing-mode: vertical-lr;
  background-color: #000000;
  color: #E9E9E9;
  font-family: tsblock;
}
/*---GUERRA FRIA---*/
/*CONTEXTO HISTORICO*/
/*body*/