@font-face {
  font-family: spartan;
  src: url(fontes/league-spartan-regular.ttf);
}
@font-face {
  font-family: Lastica;
  src: url(fontes/FontsFree-Net-Lastica.ttf);
}
@font-face {
  font-family: glacial;
  src: url(fontes/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: computer;
  src: url(fontes/Computer\ says\ no.ttf);
}


* {
  padding: 0;
  margin: 0;
  background-color: #E9E9E9;
}

/*header*/
/*nav*/
td{
  font-size: 25px;
  font-family: computer;
  text-decoration: none;
  color: black;
}

td:hover{
  background-color: #000000;
  color: #E9E9E9;
}

td{
  padding: 7px;
  border: 2px solid black;
  text-align: center;
}

.navbar{
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80%;
}
/*nav*/
/*header*/

/*body*/
/*imagens e partes pretas 1*/
.contracult{
  float: left;
  position: absolute;
  margin-left: 7.2%;
  background-color: #e9e9e900;
}

.contracult2{
  float: left;
  position: absolute;
  margin-left: 28.5%;
}

.um{
  margin-top: 30px;
}

.hist{
  margin-right: 13%;
  position: relative;
  height: 450px;
  width: 350px;
  background-color: rgb(0, 0, 0);
  float: right;
}

.minigalera{
  width: 300px;
  margin-left: 25px;
  margin-top: 25px;
}

.punk{
  position: relative;
  height: 450px;
  width: 350px;
  background-color: rgb(0, 0, 0);
  margin-right: 30px;
  float: right;
}

.minipunk{
  width: 300px;
  margin-left: 25px;
  margin-top: 25px;
}
/*textos e botões da parte 1*/
.hist p{
  background-color: #000000;
  color: #E9E9E9;
  text-align: justify;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: glacial;
  font-size: 14px;
}

.punk p{
  background-color: #000000;
  color: #E9E9E9;
  text-align: justify;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  font-family: glacial;
  font-size: 14px;
}
/*textos e botões da parte 1*/
/*imagens e partes pretas 1*/
/*body*/